.keypad {
  margin: 7px 0px;

  &__input {
    text-align: right;
  }

  &__bracketKeys {
    display: grid;
    margin: 12px 0px;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

  &__inputKeys {
    display: grid;
    grid-template-columns: 7fr 10px 4fr;
    // justify-content: center;

    &__digitKeys {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 5px;
      column-gap: 5px;
    }

    &__operatorKeys {
      grid-column-start: 3;
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-around;
      column-gap: 12px;
      row-gap: 12px;

      .divideKey {
        font-size: 12px;
        font-weight: bold;
        transform: rotate(10deg);
      }

      .addKey {
        grid-row: 2 / 4;
        height: auto;
      }
      .percentKey {
        font-size: 12px;
        font-weight: bold;
      }
      .equalsKey {
        grid-column: span 2;
        background: var(--color-secondary);

        display: flex;
        justify-content: center;
        width: auto;

        > * {
          align-self: center;
        }
      }
    }
  }
}
